/* Lebis */

main {
  font-size: 28px;
  font-family: "PT Sans";
  color: #454545;
  font-weight: 700;
}

.about-container {
  margin: 50px auto 0;
  width: 65%;
  overflow: hidden;
  text-align: center;
}

#lebis-wrapper {
  padding: 65px;
  background-color: #ccc;
  border-radius: 25px;
  margin: 50px auto;
  font-family: Lato;
}

#lebis-wrapper img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

#lebis-wrapper h2 {
  line-height: normal;
  font-size: 34px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 15px 0 10px 0;
  font-family: 'Lato';
}

#sub {
  font-weight: 400;
  color: #585858;
  font-size: 20px;
}

#description {
  margin-top: 50px;
  padding: 50px 50px;
  background-color: #ddd;
  border-radius: 20px;
  font-family: "PT Sans";
}

#kean-wrapper h2 {
  line-height: normal;
  font-size: 34px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 15px 0 10px 0;
  font-family: 'Lato';
}

.about-container h2 {
  line-height: normal;
  font-size: 1.5em;
  font-weight: 900;
  font-family: 'Lato';
}

#kean-wrapper {
  padding: 65px;
  margin: 50px auto;
  background-color: #ccc;
  border-radius: 25px;
  font-family: Lato;
}

#kean-wrapper img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

#final-thoughts p {
  margin: 0 0 100px 0;
}
