main {
  font-size: 18px;
  font-family: "PT Sans";
  font-weight: 700;
  color: #585858;
}

h1 {
  font-family: "Lato";
  font-weight: 900;
  color: #454545;
  text-align: center;
  margin-top: 50px;
  font-size: 44px;
}

.contacts-wrapper {
  background-color: #ccc;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 75px;
}

.description {
  width: 80%;
  float: right;
}
