#gallery-landing {
  position: relative;
}

#landing {
  width: 100%;
  height: 450px;
  filter: brightness(40%);
  position: relative;
}

#label {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: rgba(255, 255, 255, 0.75);
  font-size: 100px;
  font-family: "Lato";
}
.row {
  height: 350px;
}

.row img {
  height: 100%;
  border: 10px solid #ddd;
}

.col-big {
  width: calc(60% - 20px);
  float: left;
}

.col-small {
  width: calc(40% - 20px);
  float: left;
}

.gallery-main:after {
  display: block;
  content: "";
  clear: both;
}
