/*  Slideshow  */

@font-face {
    font-family: "Code Bold";
    src: url("../fonts/code-bold.otf") format("opentype");
}

@font-face {
    font-family: "Code Light";
    font-weight: bold;
    src: url("../fonts/code-light.otf") format("opentype");
}

#slideshow {
	overflow: hidden;
	height: 500px;
	position: relative;
}

.slides {
	width: 20%;
	float: left;
}

#slideshow figure img {
	width: 100%;
	height: 100%;
	float: left;
}

#slideshow figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 30s sliding infinite;
}

@keyframes sliding {
	0%{margin-left: 0px;}
	17%{margin-left: 0px;}
	20%{margin-left: -100%}
	37%{margin-left: -100%;}
	40%{margin-left: -200%;}
	57%{margin-left: -200%;}
	60%{margin-left: -300%;}
	77%{margin-left: -300%;}
	80%{margin-left: -400%;}
	97%{margin-left: -400%;}
	100%{margin-left: 0px;}
}

.second-logo-wrapper {
	z-index: 20;
	position: absolute;
	width: 20%;
	margin: 50px 0;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-family: "Code Bold";
}

.second-logo-wrapper h1 {
	background-color: black;
	font-size: 6em;
	margin: 0;
	padding: 70px 35px 50px 35px;
	border-radius: 50%;
	letter-spacing: -4px;
	display: inline-block;
}

.second-logo-wrapper p {
	padding: 23px 0;
	color: black;
	margin: 0;
	font-size: 2em;
	letter-spacing: 16px;
	font-family: "Code Bold";
}
