/*	Tags Styling  */
body {
	background-color: #eee;
}

a {
	text-decoration: none;
	color: #fff;
	display: inline-block;
}

li {
	display: inline-block;
}

/*  User-define Styling - class  */
.container {
	width: 85%;
	margin: auto;
	overflow: hidden;
}

/*  User-define Styling - id  */
#nav-menu {
	background-color: #222D32;
	padding: 20px 0 20px 0;
}

#nav-container {
	width: 50%;
	margin: auto;
	overflow: hidden;
}

#nav-ul {
	float: right;
	position: relative;
	right: 0;
}

#nav-ul li {
	margin: 0 5px 0 5px;
}

#nav-ul a {
	color: rgba(255, 255, 255, 0.65);
}

#nav-ul a:hover {
	color: rgba(255, 255, 255, 0.9);
}

#page-logo {
	left: 0;
	margin: 0;
	padding: 0;
	display: inline-block;
	position: relative;
}

#slideshow {

}

#title {
	background-color: #0097e6;
	text-align: center;
	color: #fff;
	padding: 50px 80px 50px 80px;
	font-size: 3em;
	line-height: 60px;
}

#bio {

}

#lebis {

}

#nobleza {

}

#mini-showcase {

}

#footer {
	color: #fff;
	margin: 25px 0 0 0;
}

#main-footer {
	background-color: #5f636f;
	padding: 25px 0 25px 0;
}

#secondary-footer {
	background-color: #353944;
	text-align: center;
	padding: 15px 0 15px 0;
}
