/*	Tags Styling  */
body {
	background-color: #eee;
}



/*  User-define Styling - class  */
.container {
	width: 85%;
	margin: auto;
	overflow: hidden;
}

/*  User-define Styling - id  */
#nav-menu {

}

#page-logo {

}

#slideshow {

}

#title {

}

#bio {

}

#lebis {

}

#nobleza {

}

#mini-showcase {

}

#footer {
	color: #fff;
}

#main-footer {
	background-color: #7f8fa6;
}

#secondary-footer {
	background-color: #353944;
	text-align: center;
	padding: 10px 0 10px 0;
}
