/*	Tags Styling  */
body {
	font-family: 'PT Sans', Arial, sans-serif;
	background-color: #ccc;
}

p {
	margin: 0;
	padding: 0;
	line-height: 28px;
}

a {
	text-decoration: none;
	color: #fff;
	display: inline-block;
}

li {
	display: inline-block;
}

/*  User-define Styling - class  */
.container {
	width: 85%;
	margin: auto;
	overflow: hidden;
}

.container-free {
	width: 70%;
	margin: auto;
}

.main-container {
	width: 60%;
	margin: auto;
	overflow: hidden;
}

.fa {
	padding: 10px;
	font-size: 20px;
	width: 20px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;
}

.trademark {
	font-size: 0.6em;
	transform: scaleY(0.6);
	float: right;
}

/*  User-define Styling - id  */
#nav-menu {
	background-color: #222D32;
	padding: 10px 0 10px 0;
	position: fixed;
	width: 100%;
	z-index: 100;
}

#nav-container {
	width: 75%;
	margin: auto;
	height: 55px;
	position: relative;
}

#nav-ul {
	float: right;
	position: absolute;
	right: 0;
	font-weight: 500;
	top: 50%;
	transform: translateY(-50%);
}

#nav-ul li {
	margin: 0 5px 0 5px;
}

#nav-ul a {
	font-family: "Source Sans Pro";
	color: rgba(255, 255, 255, 0.65);
}

#nav-ul a:hover {
	color: #fff;
	transition: 0.4s;
}

.spacer {
	width: 100%;
	height: 75px;
}

#page-logo {
	width: auto;
	left: 0;
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: 'Maven Pro';
	font-weight: 900;
	display: inline-block;
	text-transform: uppercase;
	position: absolute;
	top: 80%;
	transform: scaleY(2.0) translateY(-50%);
}

#page-logo a {
	position: absolute;
}

#logo-kean {
	color: #37A1FF;
}

#logo-subtitle {
	text-align: center;
	font-weight: 400;
	font-size: 0.6em;
	letter-spacing: 4px;
	transform: scaleY(0.6);
}

#main-section {
	font-weight: 700;
	font-size: 28px;
	text-align: center;
	color: #454545;
	padding: 50px 80px 50px 80px;
	line-height: 60px;
}

#main-section h2 {
	padding-bottom: 50px;
	line-height: normal;
	font-size: 1.5em;
	font-weight: 900;
	font-family: 'Lato';
}

#bio {

}

#lebis {

}

#nobleza {

}

#mini-showcase {

}

#footer {
	margin: 25px 0 0 0;
	color: #eee;
}

#main-footer {
	background-color: #252525;
	padding: 50px 0 50px 0;
	height: 130px;
}

#footer-logo-wrapper {
	display: inline-block;
	width: 25%;
	float: left;
}

#footer-logo {
	text-transform: uppercase;
	font-family: 'Maven Pro';
	font-weight: 900;
	font-size: 1.6em;
	transform: scaleY(2.3);
	letter-spacing: 1px;
	margin: 18px 0 40px 0;
}

#footer-kean {
	color: #37A1FF;
}

#footer-subtitle {
	text-align: center;
	transform: scaleY(0.37);
	line-height: 13px;
	font-weight: 400;
	font-size: 0.75em;
	letter-spacing: 5px;
}

#footer-nav-wrapper {
	display: inline-block;
	float: left;
	width: 15%;
	padding-left: 60px;
	text-transform: uppercase;
}

#footer-nav-label {
	color: #37A1FF;
	font-weight: 700;
	padding-bottom: 20px;
}

#footer-nav-ul li {
	display: block;
	padding-bottom: 15px;
	font-weight: 300;
}

#footer-nav-ul li a {
	color: rgba(255, 255, 255, 0.65);
}

#footer-nav-ul li a:hover {
	color: #ffffff;
	transition: 0.4s;
}

#footer-contacts-wrapper {
	display: inline-block;
	float: left;
	padding-left: 30px;
	width: 25%;
}

#footer-contacts-wrapper li {
	display: block;
	padding-bottom: 15px;
}

#footer-contacts-wrapper li a {
	color: rgba(255, 255, 255, 0.65);
}

#footer-contacts-label {
	color: #37A1FF;
	font-weight: 700;
	padding-bottom: 20px;
	text-transform: uppercase;
}

#footer-social-wrapper {
	display: inline-block;
	float: right;
	text-align: center;
	width: 25%;
}

#footer-social-label {
	margin: 0 0 10px 0;
	text-transform: uppercase;
	font-style: italic;
	color: rgba(255, 255, 255, 0.3);
}

.fa-facebook {
	background: #3B5998;
	color: white;
}

.fa-twitter {
	background: #55ACEE;
	color: white;
}

.fa-instagram {
	background: #125688;
	color: white;
}

.fa-google {
	background: #dd4b39;
	color: white;
}

#secondary-footer {
	line-height: normal;
	font-size: 0.87em;
	font-weight: 300;
	background-color: #1b1b1b;
	color: rgba(255, 255, 255, 0.35);
	text-align: center;
	padding: 18px 0 18px 0;
}

#secondary-footer a {
	color: rgba(255, 255, 255, 0.35);
	padding: 0 3px 0 3px;
}

#secondary-footer a:hover {
	color: rgba(255, 255, 255, 0.65);
	transition: 0.35s;
}

@media only screen and (max-width: 768px) {
	html, body {
		display: none;
	}
}
